<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if content.html_title %}<title>{{ content.html_title }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">
    
        
     
     <style type="text/css">
       body {
       background: #000;
       }
     @font-face {
    font-family: 'CeraPRO-Regular';
    src: url(https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/cera-pro-regular-webfont.woff2) format('woff2'),
         url('/fonts/Cera-pro/cera-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
       a {
        text-decoration: none; 
       }
     </style>
    
     {{ require_css(get_asset_url("../css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    {% if brand_settings.primaryFavicon.src %}
      <link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />
    {% endif %}
    {{ require_css(get_asset_url("../css/theme-overrides.css")) }}
    {{ standard_header_includes }}
  </head>
  <body>
    
    {% block header %}
    {% global_partial path="../templates/partials/Header dark.html" %}
    {% endblock header %}
    {% dnd_area "dnd_area"
      label="Main section"
    %}
    
    {% include_dnd_partial path="../sections/Pricing dark.html" %}
    
    {% end_dnd_area %}
    {{ standard_footer_includes }}
  </body>
</html>