.testimonial-container {
}
.testimonial {
  padding:40px 0;
}

.stars {
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
}

.stars img {
  width:18px;
  height:16px;
}



.role-testimonial {
color: #414141;
font-family: Lexend Deca;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px;
}
.quotes img {
width:61px;
height:40px;
}
.quote-top-corner {
display:flex;
  justify-content:flex-start;
  align-items:center;
}
.quote-bottom-corner {
display:flex;
  justify-content:flex-end;
  align-items:center;
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:80px;
  margin-bottom:20px;
}




          {#
          testimonials=[
          {
          'testimonial': context.testimonial || 'Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.',
          'witness_name': context.witness_name || 'Esther Howard',
          'background':{
          'quotes_open':{
          'src': context.quotes_open || get_asset_url('/images/Testimonials/quote-open.png')
          },
          'quote_close':{
          'src': context.quote_close || get_asset_url('/images/Testimonials/quote-close.png')
          }
          },
          'star_rating':{
          'star_image':{
          'src': context.star || get_asset_url('/images/Testimonials/star.png')
          }
          }
          },
          {
          'testimonial': context.testimonial || 'Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.',
          'witness_name': context.witness_name || 'Esther Howard',
          'background':{
          'quotes_open':{
          'src': context.quotes_open || get_asset_url('/images/Testimonials/quote-open.png')
          },
          'quote_close':{
          'src': context.quote_close || get_asset_url('/images/Testimonials/quote-close.png')
          }
          },
          'star_rating':{
          'star_image':{
          'src': context.star || get_asset_url('/images/Testimonials/star.png')
          }
          }
          }
          ] #}
