{% require_css %}
  <style>
    {% scope_css %}
  .label-section {
    {{ module.styles.label_.font.css }};
    {{ module.styles.label_.spacing.css }};
    {% if module.styles.label_.textalignment %}
    text-align: {{ module.styles.label_.textalignment.text_align }};
    {% endif %}
    line-height: {{ module.styles.label_.line_height ~ 'px' }};
    }
  .title-section {
    {{ module.styles.title.font.css }};
    {{ module.styles.title.spacing.css }};
    {% if module.styles.title.textalignment %}
    text-align: {{ module.styles.title.textalignment.text_align }};
    {% endif %}
    line-height: {{ module.styles.title.line_height ~ 'px' }};
    }
    .description-section { 
    {{ module.styles.description.font.css }};
    line-height: {{ module.styles.description.line_height ~ 'px' }};
    text-align: {{ module.styles.description.textalignment.text_align }};                                              
    {{ module.styles.description.spacing.css }};
    }
          
    {% if module.styles.container_width.width == '%' %}
    .box-headings {
      {% if module.styles.container_width.percent %}
      width:{{ module.styles.container_width.percent ~ '%' }};
      {% endif %}
      }
      {% elif module.styles.container_width.width == 'vw' %}
    .box-headings {
      {% if module.styles.container_width.vw %}
      width:{{ module.styles.container_width.vw ~ 'vw' }};
      {% endif %}
      }
      {% else %}
          {% if module.styles.container_width.px %}
    .box-headings {
      width:{{ module.styles.container_width.px ~ 'px' }};
      }
      {% endif %}
    {% endif %}
      .box-headings {
      {{ module.styles.container_width.spacing.css }};
      }
      .content-box-headings {
      display:flex;
      {% if module.styles.container_width.alignment.horizontal_align %}
      {% if module.styles.container_width.alignment.horizontal_align == "LEFT" %}
        justify-content: flex-start;
      {% elif module.styles.container_width.alignment.horizontal_align == "CENTER" %}
        justify-content: center;
      {% elif module.styles.container_width.alignment.horizontal_align == "RIGHT" %}
        justify-content: flex-end;
      {% endif %}
      {% endif %}
    }  
        @media (max-width:1024px) {
      .label-section {
      text-align:{{ module.styles.mobile.label_.textalignment.text_align }}; 
      {{ module.styles.mobile.label_.font.css }};
      line-height: {{ module.styles.mobile.label_.line_height ~ 'px' }};
      }
      .title-section { 
      text-align:{{ module.styles.mobile.title.textalignment.text_align }};
      {{ module.styles.mobile.title.font.css }};
      line-height: {{ module.styles.mobile.title.line_height ~ 'px' }};
      }
      .description-section{
        {{ module.styles.mobile.description.font.css }};
        text-align: {{ module.styles.mobile.description.textalignment.text_align }};
        line-height: {{ module.styles.mobile.description.line_height ~ 'px' }};
        text-wrap:balance;
      }
    }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="row">
    <div class="col">
      <div class="content-box-headings">
        <div class="box-headings">
        {% if module.heading != '' %}
        <div class="label-section">{{ module.heading }}</div> 
        {% endif %}
          {% set level = module.heading_level %}
          {% if level == 1 %}
          <h1 class="title-section">{{ module.title }}</h1>
          {% elif level == 2 %}
        <h2 class="title-section">{{ module.title }}</h2>
                    {% elif level == 3 %}
        <h3 class="title-section">{{ module.title }}</h3>
                    {% elif level == 2 %}
        <h4 class="title-section">{{ module.title }}</h4>
                    {% elif level == 2 %}
        <h5 class="title-section">{{ module.title }}</h5>
                    {% else %}
        <h6 class="title-section">{{ module.title }}</h6>
          {% endif %}
          
      {% set description = module.description_hide %}
      {% if description %}
        <div class="description-section">
            {{ module.description }}
        </div>
      {% endif %}
      </div>
      </div>        
    </div>
</div>