<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
{% dnd_area "FooterBolster"
    label="FooterBolster",
    class=""
  %}

{% dnd_section 
 max_width=1240,
  background_color={
    r: 0,
    g: 0,
    b: 0,
    a: 1
  },
    padding={
      "default" : {
        "bottom" : "64px",
        "top" : "64px"
      }
    }
  %}


{% dnd_column width=12 %} {# //column principal #}



{% dnd_row %}

{% dnd_column width=3, offset=0 %} {# columna 1 #}
{% dnd_row %}

{% dnd_module path="../../modules/Image",
content={
        "image": {
										"src": get_asset_url("../../asset/logo-light.svg")
									}
        }
%}

{% end_dnd_module %}

{% end_dnd_row %}

{% dnd_row %}

{% dnd_module path="../../modules/Social icons",
social_networks=[
{
"icon":{ 
  "name" : "Instagram",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"link": {
"url" : {
      "href" : "#"
    }
}
},
{
"icon":{ 
  "name" : "Facebook Square",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"link": {
"url" : {
      "href" : "#"
    }
}
},
{
"icon":{ 
  "name" : "Linkedin In",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"link": {
"url" : {
      "href" : "#"
    }
}
}
]
%}

{% end_dnd_module %}

{% end_dnd_row %}
{% end_dnd_column %}{# columna 1 #}


{% dnd_column width=4, offset=3 %} {# columna 2 #}

{% dnd_row %}
{% dnd_column width=6, offset=0 %}
{% dnd_row %}

{% dnd_module path="../../modules/List icon",
list=[
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "Video",
"link": {
"url" : {
      "href" : "#"
    }
}
},
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "Benefits",
"link": {
"url" : {
      "href" : "#"
    }
}
},
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "New",
"link": {
"url" : {
      "href" : "#"
    }
}
}
],
styles={
"list_item":{
    'font':{
    "size" : 16,
    "size_unit" : "px",
    "styles" :{
      "text-decoration" : "none"
    },
    "font" : "Space Grotesk",
    "fallback" : "serif",
    "variant" : "500",
    "font_set" : "GOOGLE",
    'color': '#FFFFFF',
    'opacity': 100
    },
    'line_height': 24
    }
}
%}

{% end_dnd_module %}

{% end_dnd_row %}
{% end_dnd_column %}

{% dnd_column width=6, offset=6 %}
{% dnd_row %}

{% dnd_module path="../../modules/List icon",
list=[
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "Features",
"link": {
"url" : {
      "href" : "#"
    }
}
},
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "FAQs",
"link": {
"url" : {
      "href" : "#faqs"
    }
}
},
{
"icon":{ 
  "name" : "Chevron Right",
  "unicode" : "f675",
  "type" : "SOLID",
  "icon_set": true
},
"text": "Testimonials",
"link": {
"url" : {
      "href" : "#"
    }
}
}
],
styles={
"list_item":{
    'font':{
    "size" : 16,
    "size_unit" : "px",
    "styles" :{
      "text-decoration" : "none"
    },
    "font" : "Space Grotesk",
    "fallback" : "serif",
    "variant" : "500",
    "font_set" : "GOOGLE",
    'color': '#FFFFFF',
    'opacity': 100
    },
    'line_height': 24
    }
}
%}
 {# ,
    "mobile": {
    "list_item":{
    'font':{
    "size" : 16,
    "size_unit" : "px",
    "styles" :{
      "text-decoration" : "none"
    },
    "font" : "Space Grotesk",
    "fallback" : "serif",
    "variant" : "500",
    "font_set" : "GOOGLE",
    'color': '#FFFFFF ',
    'opacity': 100
    },
    'line_height': 24
    }
    } #}
{% end_dnd_module %}


{% end_dnd_row %}

{% end_dnd_column %}

{% end_dnd_row %}


{% end_dnd_column %}{# columna 2 #}

{% dnd_column width=5, offset=7 %} {# columna 3 #}

{% dnd_row %}


{% dnd_module path="../../modules/Headings custom",
title={{ "Subscribe to our newsletter" }},
styles={
"title":{
    'font':{
    "size" : 24,
    "size_unit" : "px",
    "styles" :{
      "text-decoration" : "none"
    },
    "font" : "Space Grotesk",
    "fallback" : "serif",
    "variant" : "700",
    "font_set" : "GOOGLE",
    'color': '#FFFFFF',
    'opacity': 100
    },
    'line_height': 36,
    'textalignment':{
    'text_align': 'LEFT'
    }
    },
    "mobile": {
    "title":{
    'font':{
    "size" : 20,
    "size_unit" : "px",
    "styles" :{
      "text-decoration" : "none"
    },
    "font" : "Space Grotesk",
    "fallback" : "serif",
    "variant" : "700",
    "font_set" : "GOOGLE",
    'color': '#FFFFFF ',
    'opacity': 100
    },
    'line_height': 32,
    'textalignment':{
    'text_align': 'CENTER'
    }
    }
    }
}
%}

{% end_dnd_module %}


{% end_dnd_row %}

{% dnd_row %}

{% dnd_module path="../../modules/Form subscribe"
%}

{% end_dnd_module %}


{% end_dnd_row %}

{% end_dnd_column %}{# columna 3 #}
       
{% end_dnd_row %}

{% dnd_row %}

{% dnd_column %}
{% dnd_row %}
{% dnd_module path="../../modules/Paragraph",
      text={{ "Copyright © 2024 |  CostCertified. All right reserved." }},
      styles={
      "paragraph":{
      'font':{
      "size" : 14,
      "size_unit" : "px",
      "styles" :{
      "text-decoration" : "none"
      },
      "font" : "Space Grotesk",
      "fallback" : "serif",
      "variant" : "400",
      "font_set" : "GOOGLE",
      'color': '#929292',
      'opacity': 100
      },
      'line_height': 21,
      'textalignment':{
      'text_align': 'CENTER'
      }
      }
      }
%}

{% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}

{% end_dnd_row %}
{% end_dnd_column %} {# //column principal #}

{% end_dnd_section %}
{% end_dnd_area %} 

<!-- End partial -->