<!--
  templateType: global_partial
  label: Website header
-->
<!-- Begin partial -->

{% dnd_area "header-top"
    label="Top header",
    class="content-wrapper"
  %}

{% dnd_section 
 max_width=1240,
  background_color={
    r: 255,
    g: 255,
    b: 255,
    a: 1
  },
    padding={
      "default" : {
        "bottom" : "14px",
        "top" : "14px"
      }
    }
  %}


    {% dnd_column
    padding={
    "top": 0,
    "bottom": 0,
    "left": 0,
    "right": 0
  },
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
        path="../../modules/Image",
        content={
        "image": {
										"src": get_asset_url("../../asset/logo.svg")
									}
        },
        styles={
        "mobile":{
        "textalignment":{
        'text_align': 'CENTER'
        },
        "spacing":{
        "margin":{
        "bottom": { "value": 24, "units": "px" }
        }
        }
        }
        }
       %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}

    {% dnd_column
    padding={
    "top": 0,
    "bottom": 0,
    "left": 0,
    "right": 0
  },
      offset=6,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
        path='/Theme templates/Theme for Happy Agencies/modules/button single',
        button_text={{ "Book a Demo" }},
        show_icon={{ true }},
        styles={
        "background":{
        "color":{
        "color": "#FFFFFF",
        "opacity": 100
        }
        },
        "border":{
      "border":{
      "top": {
        "width": { "value": 1, "units": "px" },
        "opacity": 100,
        "style": "solid",
        "color": "#000000"
      },
      "bottom": {
        "width": { "value": 1, "units": "px" },
        "opacity": 100,
        "style": "solid",
        "color": "#000000"
      },
      "left": {
        "width": { "value": 1, "units": "px" },
        "opacity": 100,
        "style": "solid",
        "color": "#000000"
      },
      "right": {
        "width": { "value": 1, "units": "px" },
        "opacity": 100,
        "style": "solid",
        "color": "#000000"
      }
      }
      },
      "alignment":{
      "alignment":{
      "horizontal_align": "RIGHT"
      }
      },
      "mobile":{
      "alignment":{
      "horizontal_align": "CENTER"
      }
      }
      }
       %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}

  {% end_dnd_section %}

  {% end_dnd_area %} 

<!-- End partial -->