<div class="container-toggle_button">
<div class="toggle-container">
  <button id="monthlyButton" class="toggle-btn active">Monthly</button>
  <button id="prepaidButton" class="toggle-btn">Prepaid</button>
</div>  
</div>

<div class="pricing-container">
  {% for item in module.card %}
   <div class="pricing-plan">                                                                               

   <div class="pricing-price">{{ item.plan }}</div>
   <hr class="divider">
   <div class="plan-description">
     {{ item.plan_description }}
   </div>  
        {#<div class="plan-description show hide">
     {{ item.plan_description_hide }}
   </div> #}
   <hr class="divider">
   <p class="show ">{{ item.description_price }}</p>
   <p class="show hide">{{ item.description_price_hide }}</p>
   
     {% for item2 in item.list_group %}
   <h3 class="title-list">{{ item2.title_list }}</h3>
   <ul class="pricing-details">
   	{% for item3 in item2.list %}
     <li>
      <span class="icon" style="font-size: 18px; fill:#000!important;">
        {% icon
          name="{{ item3.icon.name }}"
          style="{{ item3.icon.type }}"
          unicode="{{ item3.icon.unicode }}"
          icon_set="{{ item3.icon.icon_set }}"
        %}
      </span>
       {{ item3.description }}
     </li>
   	{% endfor %}
   </ul>
    {% endfor %}
  {#   {% if item.quotes %}
     <span>{{ item.quotes }}</span>
     {% endif %}
     {% if item.quotes_price %}
     <h3 class="">
       {{ item.quotes_price }}
     </h3>
     {% endif %} #}
   <a href="{{ item.button.url.href }}" class="pricing-button">{{ item.button.text_button }}</a>
 </div>
  {% endfor %}
</div>
{% require_css %}
  <style>
    {% scope_css %}
    .pricing-container {
     display: flex;
     justify-content: center;
     align-items:flex-start;
     flex-wrap: wrap;     
     gap:16px;
    }
    .pricing-plan {
     border-radius: {{ module.styles.card.radius ~ 'px' }};
     background: {{ module.styles.card.background_color.color }};
     {{ module.styles.card.spacing.css }};
     {{ module.styles.card.border.css }};
     max-width: {{ module.styles.card.width ~ 'px' }};
     width:100%;
    }
.pricing-plan .sticker-category {
  display: inline;
  {{ module.styles.tag.font.css }};
  {{ module.styles.tag.border.css }};
  border-radius:{{ module.styles.tag.radius ~ 'px' }};
  line-height: {{ module.styles.tag.line_height ~ 'px' }};
  {{ module.styles.tag.spacing.css }};
}

.pricing-card_icon svg {
 width: {{ module.styles.icon.size_icon ~ 'px' }};
 height: {{ module.styles.icon.size_icon ~ 'px' }};
 fill: {{ module.styles.icon.color.color }};
}
.pricing-price {
{{ module.styles.plan.font.css }};
  line-height: {{ module.styles.plan.line_height ~ 'px' }};
  {{ module.styles.plan.spacing.css  }};
}
.pricing-plan .plan-description {
{{ module.styles.plan_description.font.css }};
line-height: {{ module.styles.plan_description.line_height ~ 'px' }};
  {{ module.styles.plan_description.spacing.css }};
}
.pricing-plan p {
 {{ module.styles.price_description.font.css }};
 line-height: {{ module.styles.price_description.line_height ~ 'px' }};
 {{ module.styles.price_description.spacing.css }};
}   
.pricing-plan .title-list {
 {{ module.styles.title_list.font.css }};
 line-height: {{ module.styles.title_list.line_height ~ 'px' }};
 {{ module.styles.title_list.spacing.css }};
}
.pricing-details li {
  {{ module.styles.list_text.font.css }};
  line-height: {{ module.styles.list_text.line_height ~ 'px' }};
  {{ module.styles.list_text.spacing_field.css }};
}
.pricing-details svg {
 width: {{ module.styles.list_icon.size ~ 'px' }};
 height: {{ module.styles.list_icon.size ~ 'px' }};
 margin-right: 0.25rem;
 fill: {{ module.styles.list_icon.color.color }};
 display:flex;
}
.pricing-button {
 display: flex;
 padding: 14px 96px;
 justify-content: center;
 align-items: center;
 gap: 8px;
 background:{{ module.styles.button.color.color }};
 text-decoration: none;
 {{ module.styles.button.font.css }};
 line-height: {{ module.styles.button.line_height ~ 'px' }};
 {{ module.styles.button.border.css }};
 border-radius: {{ module.styles.button.radius ~ 'px'}};
 box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}
.pricing-button:hover {
 background-color: rgba({{ color_variant(module.styles.button.color.color, -30)|convert_rgb }}, {{ module.styles.button.color.opacity / 100 }});
}

    .divider {
    background-color: {{ module.styles.divider.color.color }};
    height: {{ module.styles.divider.thickness ~ 'px' }};
    width: {{ module.styles.divider.width ~ '%' }};
    }    
    
    {% end_scope_css %}
  </style>
{% end_require_css %}  